@charset "UTF-8";
/* bodyのデフォルトを定義 */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.8;
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", Meiryo, sans-serif;
  font-size: 14px;
  letter-spacing: 0.1em;
  font-feature-settings: "palt";
}
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* marginとpaddingを削除 */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

/* pが連続したら段落を空ける */
p + p {
  margin-top: 1em;
}

/* list-styleを削除 */
ul,
ol {
  list-style: none;
}

/* imgとpictureタグの設定 */
img,
picture {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/* 各ブラウザやOSの設定で動きの制限をしている場合、すべてのアニメーションとトランジションを削除 */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/* aタグのテキストカラーを親要素から継承と、ホバー時のアニメーション */
a {
  color: inherit;
}
@media screen and (min-width: 768px) {
  a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}
a:hover, a:focus {
  text-decoration: none;
  color: inherit;
}
@media screen and (min-width: 768px) {
  a:hover, a:focus {
    opacity: 0.7;
    text-decoration: none;
  }
}
@media screen and (min-width: 768px) {
  a:hover img {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
  }
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "BodoniModa-Regular";
  src: url("../fonts/BodoniModa-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter-Medium.ttf");
  font-weight: 400;
  font-style: normal;
}
.ffbodoni {
  font-family: "BodoniModa-Regular", serif;
}

.ffinter {
  font-family: "Inter-Medium", serif;
}

#wrapper {
  overflow: hidden;
  padding: 50px 0 0;
}

.inner {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
  z-index: 1;
}

.innerbox {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

@media screen and (min-width: 1025px) {
  #wrapper {
    padding: 110px 0 0;
  }
}
#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background: #fff;
  -webkit-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -moz-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -ms-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  -o-box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  box-shadow: 0 8px 8px rgba(85, 85, 85, 0.14);
  z-index: 9;
}

.top #header {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -ms-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

#header .headerin {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
#header .headerlogo {
  flex-shrink: 0;
  font-size: 0;
  width: 116px;
  margin-right: 10px;
}
#header .headerlogo a {
  display: block;
}
#header .headermess {
  display: flex;
  align-items: center;
}
#header .pushbarbox {
  display: block;
  cursor: pointer;
  flex-shrink: 0;
}
#header .pushbarbox img {
  width: 40px;
}
#header .headerbtn {
  display: none;
}

.topnavi {
  display: none;
}

@media screen and (min-width: 1025px) {
  #header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 9;
  }
  #header .headerin {
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
  }
  #header .headerlogo {
    width: auto;
  }
  #header .headerbtn {
    display: block;
    margin-right: 20px;
  }
  #header .headerbtn a {
    margin: 0 auto;
    width: 200px;
    height: 48px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: #8a7e78;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
    border-radius: 40px;
  }
  #header .headerbtn a img {
    margin-right: 8px;
  }
  #header .pushbarbox {
    display: block;
    cursor: pointer;
  }
  .topnavi > li {
    position: relative;
  }
  .topnavi > li > a {
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 14px;
    letter-spacing: 0.1em;
    position: relative;
  }
  .topnavi > li > a.parents {
    padding-right: 18px;
    background: url(../img/down_gnavi.webp) right center no-repeat;
  }
  .topnavi .pulldownmenu {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background: #fff;
    padding: 20px 25px;
    -webkit-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    -moz-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    -ms-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    -o-box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    box-shadow: 4px 0 24px rgba(85, 85, 85, 0.16);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    z-index: 2;
  }
  .topnavi .pulldownmenu li {
    font-size: 12px;
    line-height: 2.5;
    letter-spacing: 0.1em;
    white-space: nowrap;
  }
}
@media screen and (min-width: 1300px) {
  .topnavi {
    display: flex;
    justify-content: center;
    column-gap: 15px;
    margin-right: 30px;
  }
}
@media screen and (min-width: 1400px) {
  #header .headerin {
    padding: 0 50px;
  }
  .topnavi {
    column-gap: 25px;
    margin-right: 50px;
  }
  #header .headerbtn {
    margin-right: 35px;
  }
}
.teaser {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.teaser .teaserimg {
  width: 80%;
}
.teaser .teaserimg img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.teaser .teaserbox {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 20px;
  max-width: 100%;
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}
.teaser .teaserin {
  background: #fff;
  padding: 15px 10px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.teaser .teasereng {
  font-size: 14px;
}
.teaser .teaserjps {
  margin-top: 10px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.3em;
  font-weight: 500;
  color: #000;
}

@media screen and (min-width: 740px) {
  .teaser .teaserimg img {
    height: 400px;
  }
  .teaser .teaserbox {
    padding: 0 7.15%;
  }
  .teaser .teaserin {
    background: #fff;
    min-width: 370px;
    padding: 25px 20px 10px 0;
  }
  .teaser .teasereng {
    font-size: 16px;
  }
  .teaser .teaserjps {
    font-size: 30px;
    letter-spacing: 0.3em;
  }
}
.breadcrumbs {
  padding: 10px 20px 48px;
}
.breadcrumbs .breadin {
  font-size: 12px;
  letter-spacing: 0.1em;
}

@media screen and (min-width: 740px) {
  .breadcrumbs {
    padding: 25px 7.15% 99px;
  }
}
@media (min-width: 768px) {
  .breadcrumbs {
    padding: 25px 7.15% 198px;
  }
}
@media (min-width: 768px) {
  div.price div.catch {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 228px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price div.catch {
    gap: 40px;
  }
}
@media (min-width: 768px) {
  div.price div.catch div.appeal {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    gap: 16px;
  }
}
div.price div.catch div.appeal p {
  font-size: 18px;
  line-height: 38px;
  letter-spacing: 2.5px;
  color: #fff;
  background-color: #393939;
  display: inline-block;
  padding: 0 4px;
}
@media (min-width: 768px) {
  div.price div.catch div.appeal p {
    font-size: 28px;
    letter-spacing: 8.4px;
    writing-mode: vertical-rl;
    font-feature-settings: initial;
    padding: 16px 8px;
  }
}
div.price div.catch div.appeal p + p {
  margin-top: 8px;
}
@media (min-width: 768px) {
  div.price div.catch div.appeal p + p {
    margin-top: initial;
  }
}
div.price div.catch div.message {
  font-size: 14px;
  line-height: 30px;
  line-height: 25px;
  letter-spacing: 1.4px;
  margin-top: 16px;
}
@media (min-width: 768px) {
  div.price div.catch div.message {
    margin-top: -156px;
  }
}
div.price div.catch div.message br {
  display: none;
}
@media (min-width: 768px) {
  div.price div.catch div.message br {
    display: block;
  }
}
div.price img.mainimage {
  width: 100%;
  margin-top: 16px;
}
@media (min-width: 768px) {
  div.price img.mainimage {
    position: relative;
    z-index: -1;
    margin-top: -253px;
  }
}
div.price section.commitment {
  margin-top: 48px;
}
@media (min-width: 768px) {
  div.price section.commitment {
    margin-top: 204px;
  }
}
div.price section.commitment div.title {
  text-align: center;
}
div.price section.commitment div.title hgroup {
  display: inline-block;
  text-align: center;
  width: 580px;
}
div.price section.commitment div.title hgroup span.english {
  line-height: 56px;
  line-height: 28px;
  letter-spacing: 0.7px;
}
@media (min-width: 768px) {
  div.price section.commitment div.title hgroup span.english {
    line-height: 56px;
    letter-spacing: 0.8px;
  }
}
div.price section.commitment div.title hgroup h2 {
  line-height: 35px;
  font-weight: 600;
  border-bottom: 1px solid #393939;
  margin-top: 8px;
  padding-bottom: 4px;
}
@media (min-width: 768px) {
  div.price section.commitment div.title hgroup h2 {
    font-size: 28px;
    letter-spacing: 5.6px;
    margin-top: 24px;
    padding-bottom: 8px;
  }
}
div.price section.commitment ol.lists {
  margin-top: 120px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists {
    margin-top: 378px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists {
    margin-top: 240px;
  }
}
div.price section.commitment ol.lists li {
  position: relative;
  padding: 64px 16px 40px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li {
    padding: 160px 32px 64px;
  }
}
div.price section.commitment ol.lists li img.background {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: -1;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li img.background {
    left: unset;
    right: 0;
    transform: translateY(50%);
    width: 91.2vw;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li img.background {
    width: 100%;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
div.price section.commitment ol.lists li span.number {
  font-size: 100px;
  font-weight: bold;
  line-height: 540px;
  line-height: 100px;
  color: #393939;
  position: absolute;
  content: "";
  top: -64px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li span.number {
    font-size: 293px;
    line-height: 293px;
    top: -160px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li span.number {
    font-size: 195px;
  }
}
div.price section.commitment ol.lists li dl.text {
  margin-top: 8px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li dl.text {
    max-width: 650px;
    padding-top: 216px;
    padding-bottom: 76px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li dl.text {
    width: fit-content;
    margin: 0 auto;
    max-width: 500px;
    padding: initial;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li dl.text {
    padding-top: 162px;
    padding-bottom: 226px;
  }
}
div.price section.commitment ol.lists li dl.text dt {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 6px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li dl.text dt {
    font-size: 28px;
    line-height: 56px;
    letter-spacing: 8.4px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li dl.text dt {
    font-size: 24px;
    line-height: 42px;
  }
}
div.price section.commitment ol.lists li dl.text dt br {
  display: none;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li dl.text dt br {
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li dl.text dt br {
    display: none;
  }
}
div.price section.commitment ol.lists li dl.text dd {
  font-size: 14px;
  line-height: 30px;
  line-height: 25px;
  letter-spacing: 1.4px;
  margin-top: 8px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li dl.text dd {
    max-width: 480px;
    margin-top: 56px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li dl.text dd {
    max-width: unset;
    margin-top: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li dl.text dd {
    margin-top: 32px;
  }
}
div.price section.commitment ol.lists li:nth-child(1) img.illust01 {
  position: absolute;
  content: "";
  width: 160px;
  right: 16px;
  top: -40px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(1) img.illust01 {
    width: initial;
    right: 188px;
    top: -72px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(1) img.illust01 {
    width: 320px;
    right: 94px;
    top: -56px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(1) img.illust01 {
    width: 320px;
    right: 72px;
  }
}
div.price section.commitment ol.lists li:nth-child(1) img.photo01 {
  margin-top: 24px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(1) img.photo01 {
    position: absolute;
    right: 0;
    bottom: -128px;
    margin-top: initial;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(1) img.photo01 {
    position: relative;
    right: unset;
    left: 50%;
    bottom: unset;
    transform: translateX(-50%);
    margin: 32px auto 0;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(1) img.photo01 {
    bottom: -220px;
  }
}
div.price section.commitment ol.lists li:nth-child(2) img.illust02 {
  position: absolute;
  content: "";
  width: 140px;
  right: 16px;
  top: -40px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(2) img.illust02 {
    width: initial;
    right: unset;
    left: 188px;
    top: -112px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(2) img.illust02 {
    width: 280px;
    left: 94px;
    top: -88px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(2) img.illust02 {
    width: 280px;
    left: 72px;
  }
}
div.price section.commitment ol.lists li:nth-child(2) img.photo02 {
  margin-top: 24px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(2) img.photo02 {
    position: absolute;
    top: 150px;
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(2) img.photo02 {
    width: 300px;
    position: relative;
    top: unset;
    left: 50%;
    bottom: unset;
    transform: translateX(-50%);
    margin: 32px auto 0;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(2) img.photo02 {
    width: 320px;
    top: unset;
    bottom: -210px;
  }
}
div.price section.commitment ol.lists li:nth-child(3) img.illust03 {
  position: absolute;
  content: "";
  width: 80px;
  right: 16px;
  top: -64px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(3) img.illust03 {
    width: initial;
    right: 18%;
    top: -112px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(3) img.illust03 {
    width: 160px;
    right: 14%;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(3) img.illust03 {
    width: 160px;
    right: 8%;
  }
}
div.price section.commitment ol.lists li:nth-child(3) img.illust04 {
  position: absolute;
  content: "";
  width: 60px;
  right: 112px;
  top: 0px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(3) img.illust04 {
    width: initial;
    right: 40%;
    top: 48px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(3) img.illust04 {
    width: 100px;
    top: 32px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(3) img.illust04 {
    width: 120px;
    right: 30%;
  }
}
div.price section.commitment ol.lists li:nth-child(3) img.photo03 {
  margin-top: 24px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(3) img.photo03 {
    position: absolute;
    right: 0;
    bottom: -128px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(3) img.photo03 {
    position: relative;
    right: unset;
    left: 50%;
    bottom: unset;
    transform: translateX(-50%);
    margin: 32px auto 0;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(3) img.photo03 {
    bottom: -212px;
  }
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(even) img.background {
    left: 0;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(even) img.background {
    left: 50%;
  }
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(even) span.number {
    right: 70px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(even) span.number {
    right: 140px;
  }
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(even) dl.text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 0 0 auto;
    padding-right: 85px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(even) dl.text {
    margin: 0 auto;
    padding-right: initial;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(even) dl.text {
    max-width: 780px;
    padding-right: 150px;
  }
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(even) dl.text dt {
    text-align: right;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(even) dl.text dt {
    text-align: left;
  }
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(odd) span.number {
    left: 70px;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(odd) span.number {
    left: 140px;
  }
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li:nth-child(odd) dl.text {
    padding-left: 85px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li:nth-child(odd) dl.text {
    padding-left: initial;
  }
}
@media (min-width: 992px) and (max-width: 1024px) {
  div.price section.commitment ol.lists li:nth-child(odd) dl.text {
    padding-left: 150px;
  }
}
div.price section.commitment ol.lists li + li {
  margin-top: 120px;
}
@media (min-width: 768px) {
  div.price section.commitment ol.lists li + li {
    margin-top: 443px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.commitment ol.lists li + li {
    margin-top: 240px;
  }
}
div.price div.pagelinks {
  margin-top: 64px;
}
@media (min-width: 768px) {
  div.price div.pagelinks {
    margin-top: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price div.pagelinks {
    margin-top: 192px;
  }
}
div.price div.pagelinks a {
  background-image: url("../img/price_warranty_link.webp");
  background-size: cover;
  width: 100%;
  display: block;
  border-radius: 10px;
  text-align: center;
  padding: 24px 8px;
}
@media (min-width: 768px) {
  div.price div.pagelinks a {
    width: 640px;
    margin: 0 auto;
    padding: 32px 16px;
  }
}
div.price div.pagelinks a div.title {
  font-size: 16px;
  line-height: 40px;
  line-height: 20px;
  letter-spacing: 3.5px;
  color: #fff;
}
@media (min-width: 768px) {
  div.price div.pagelinks a div.title {
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 7.2px;
  }
}
@media (min-width: 768px) {
  div.price div.pagelinks a div.title br {
    display: none;
  }
}
div.price div.pagelinks a span.more {
  font-size: 12px;
  line-height: 36px;
  line-height: 18px;
  color: #393939;
  background-color: #fff;
  border-radius: 10px;
  display: inline-block;
  margin-top: 16px;
  padding: 6px 16px;
}
@media (min-width: 768px) {
  div.price div.pagelinks a span.more {
    padding: 6px 32px;
  }
}
div.price section.buildings {
  background-image: url("../img/bg_intro.webp");
  background-size: cover;
  margin-top: 130px;
  padding: 54px 0;
}
@media (min-width: 768px) {
  div.price section.buildings {
    margin-top: 260px;
    padding: 108px 118px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.buildings {
    margin-top: 195px;
    padding: 80px;
  }
}
div.price section.buildings div.container h2 {
  font-size: 20px;
  color: #fff;
  text-align: center;
}
@media (min-width: 768px) {
  div.price section.buildings div.container h2 {
    font-size: 30px;
    line-height: 55px;
    letter-spacing: 9px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.buildings div.container h2 {
    font-size: 25px;
  }
}
div.price section.buildings div.container div.lists {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  div.price section.buildings div.container div.lists {
    display: flex;
    margin-top: 64px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.buildings div.container div.lists {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    margin-top: 52px;
  }
}
div.price section.buildings div.container div.lists div.item {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 2;
  gap: 0;
}
@media (min-width: 768px) {
  div.price section.buildings div.container div.lists div.item {
    flex: 1;
  }
}
div.price section.buildings div.container div.lists div.item div.image a img.image {
  border-radius: 10px;
  width: 100%;
}
div.price section.buildings div.container div.lists div.item div.name {
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 4.2px;
  color: #fff;
  text-align: center;
  margin-top: 16px;
}
@media (min-width: 768px) {
  div.price section.buildings div.container div.lists div.item div.name {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 5.4px;
    margin-top: 32px;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  div.price section.buildings div.container div.lists div.item div.name {
    margin-top: 16px;
  }
}

#footer .footerbtm {
  background: #393939;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer .footerlink {
  display: flex;
  justify-content: center;
  column-gap: 15px;
}
#footer .footerlink a {
  font-size: 12px;
  color: #fff;
}
#footer .copyright {
  font-size: 10px;
  color: #fff;
  letter-spacing: 0.1em;
  margin-top: 15px;
}
#footer .footerin {
  background: url(../img/bg_footer.webp) center center no-repeat;
  background-size: cover;
  padding: 70px 0;
}
#footer .footerbox {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
}
#footer .footermess {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
#footer .footerlogo {
  font-size: 20px;
  color: #fff;
}
#footer .footertel {
  letter-spacing: 0.1em;
  font-size: 12px;
  margin-top: 20px;
}
#footer .footertel .telnum {
  margin-bottom: 5px;
  display: block;
  font-size: 24px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 700;
}
#footer .footerbtn {
  margin-top: 20px;
}
#footer .footerbtn a {
  display: flex;
  background: #fff;
  width: 200px;
  height: 48px;
  align-items: center;
  justify-content: center;
  color: #393939;
  font-size: 12px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
}
#footer .footerbtn a img {
  margin-right: 8px;
}
#footer .footerna {
  width: 100%;
}
#footer .footernavi {
  display: flex;
  flex-direction: column;
}
#footer .footernavi .navibox {
  margin: 10px 0;
}
#footer .footernavi .navibox > li + li {
  margin-top: 10px;
}
#footer .footernavi .navibox > li > a {
  display: inline-block;
  color: #fff;
  letter-spacing: 0.1em;
}
#footer .footernavi .navichild {
  margin: 15px 0 0 10px;
  border-left: 1px #fff solid;
  padding-left: 20px;
}
#footer .footernavi .navichild li + li {
  margin-top: 10px;
}
#footer .footernavi .navichild li a {
  font-size: 12px;
  color: #fff;
  letter-spacing: 0.1em;
}
#footer .footeraddr {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
#footer .footeraddr li {
  color: #fff;
  line-height: 1.78;
  letter-spacing: 0.1em;
}
#footer .footeraddr li + li {
  margin-top: 20px;
}

@media screen and (min-width: 740px) {
  #footer .footerbtm {
    padding: 30px 20px;
    flex-direction: row;
    justify-content: space-between;
  }
  #footer .copyright {
    font-size: 11px;
    margin-top: 0;
  }
  #footer .footerin {
    padding: 140px 0;
  }
  #footer .footermess {
    margin-bottom: 50px;
  }
  #footer .footerlogo {
    font-size: 30px;
  }
  #footer .footertel .telnum {
    margin-bottom: 10px;
    font-size: 30px;
    line-height: 1;
  }
  #footer .footerbtn {
    margin-top: 30px;
  }
  #footer .footernavi {
    flex-direction: row;
  }
  #footer .footernavi .navibox {
    margin: 0;
    width: 50%;
  }
  #footer .footernavi .navichild {
    margin: 25px 0 0 14px;
  }
  #footer .footernavi .navichild li + li {
    margin-top: 10px;
  }
  #footer .footeraddr {
    flex-direction: row;
    margin-top: 65px;
  }
  #footer .footeraddr li {
    width: 50%;
  }
  #footer .footeraddr li + li {
    margin-top: 0;
  }
}
@media screen and (min-width: 1025px) {
  #footer .footerbtm {
    padding: 30px 70px 30px 50px;
  }
  #footer .footerbox {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  #footer .footermess {
    align-items: flex-start;
    width: 40%;
    flex-shrink: 0;
    margin: 0;
  }
}/*# sourceMappingURL=style.css.map */